<!-- face_rec_and_mark_attend.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Face Recognition</title>
</head>

<body>
    <h1>Face Recognition Result</h1>
    <h2>Recognized Names:</h2>
    {% for name in recognized_names %}
        <p>Recognized Name: {{ name }}</p>
    {% endfor %}
    <p>File Name: <span id="file_name"></span></p>

    <form method="POST" action="/register">
        {% for name in recognized_names %}
            <input type="hidden" name="name" value="{{ name }}">
        {% endfor %}
        <input type="submit" value="Register">
    </form>

    <script>
        // Get the query parameters from the URL
        const queryParams = new URLSearchParams(window.location.search);

        // Get the value of the 'file_name' parameter
        const fileName = queryParams.get('file_name');

        // Update the HTML content with the file name
        document.getElementById('file_name').textContent = fileName;
    </script>
</body>

</html>
